<H5> Reading Toronto data saved by the first part of this assignment </H5>

In [7]:
import pandas as pd
# Assuming we already have generated Toronto Neighborhood data in excel file (using part 1 of this assignment)
TorontoDf = pd.read_excel("TorontoNeighborhood.xlsx")
TorontoDf.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [18]:
import geocoder 

# initialize your variable to None
lat_lng_coords = None

# loop 
# loop until you get the coordinates
#while(lat_lng_coords is None):
g = geocoder.google('Mountain View, CA')
lat_lng_coords = g.latlng
print(lat_lng_coords)
#latitude = lat_lng_coords[0]
#longitude = lat_lng_coords[1]

None

In [20]:
# Cannot use API to read the latitude and longitude. So using the CSV file

<H5> Reading the CSV file </H5>

In [24]:
LogLatDf =pd.read_csv("Geospatial_Coordinates.csv")
LogLatDf.columns=["PostalCode", "Latitude","Longitude"]
LogLatDf.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

<H5> Merging data to get latitude and longitude for each postal code </H5>

In [29]:
# Performing inner merge to get matching latitude and longitude for each postal code
FinalTorontoDf= TorontoDf.merge(LogLatDf, how="inner", on=["PostalCode"])

In [30]:
FinalTorontoDf.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

In [31]:
# Saving data to a Excel file to use later 
FinalTorontoDf.to_excel("FinalTorontoNeighborhood.xlsx", index= False)