In [1]:
# Extracting information from html web page (table)
import requests
from bs4 import BeautifulSoup

webPageLink= "https://en.wikipedia.org/wiki/List_of_Melbourne_suburbs"
responseObject = requests.get(webPageLink).text
soup = BeautifulSoup(responseObject, 'lxml')
suburbTable =soup.find('table',{'class':'wikitable sortable'})

In [3]:
# Read suburb postal code and names
rowData = soup.find_all("tr")

suburbInformation=[]
for item in rowData:
    try:
            
        #Ignoring the headers
        if item.find("th"):
            continue
        
        tags= item.findAll('td')
        suburbName = tags[0].text
        postalCode = tags[1].text
        suburbInformation.append([suburbName, postalCode])
    except Exception as e:
        continue

In [5]:
import pandas as pd
import numpy as np
suburbMelbourneDf = pd.DataFrame(suburbInformation, columns=['SuburbName',"PostalCode"])
suburbMelbourneDf["Latitude"] =  np.nan
suburbMelbourneDf["Longitude"] =  np.nan

suburbMelbourneDf.head()

   SuburbName PostalCode  Latitude  Longitude
0   Bellfield       3081       NaN        NaN
1  Briar Hill       3088       NaN        NaN
2    Bundoora       3083       NaN        NaN
3   Eaglemont       3084       NaN        NaN
4      Eltham       3095       NaN        NaN

In [44]:
from  geopy.geocoders import Nominatim
import numpy as np 
import math 


geolocator = Nominatim(user_agent="explorer")

i=0
for value, postal_code in zip(suburbMelbourneDf["SuburbName"],suburbMelbourneDf["PostalCode"]):
    suburbName = value
    city ="%s,Victoria"%suburbName
    country ="Australia"
    try:
        if(math.isnan(suburbMelbourneDf.iloc[i, suburbMelbourneDf.columns.get_loc('Latitude')])):
            loc = geolocator.geocode(city+','+ postal_code+','+country, timeout=100)
            print("Suburb %s , Latitude =%0.2f , Longitude = %0.2f"%(suburbName,loc.latitude,loc.longitude))
  
            suburbMelbourneDf.iloc[i, suburbMelbourneDf.columns.get_loc('Latitude')]=loc.latitude
            suburbMelbourneDf.iloc[i, suburbMelbourneDf.columns.get_loc('Longitude')]=loc.longitude
        i+=1
        if i>10:
            break
    except Exception as e:
        print(str(e))
suburbMelbourneDf.head()

   SuburbName PostalCode   Latitude   Longitude
0   Bellfield       3081 -37.753107  145.038478
1  Briar Hill       3088 -37.706370  145.121648
2    Bundoora       3083 -37.698247  145.059676
3   Eaglemont       3084 -37.765144  145.063331
4      Eltham       3095 -37.713387  145.147880

In [ ]:

#print(suburbMelbourneDf.isnull().sum())
#suburbMelbourneDf.to_excel("melb_suburbs.xlsx", index= False)

In [ ]:
geolocator = Nominatim(user_agent="explorer")
loc = geolocator.geocode('Melbourne City Center, Melbourne, Australia', timeout=100)
melb_cc_latitude =loc.latitude
melb_cc_longitude =loc.longitude
print(melb_cc_latitude)
print(melb_cc_longitude)

In [ ]:
suburbMelbourneDf["DistCityCenter"] =  np.nan
index=0
for eachLatitude, eachLongitude in zip(suburbMelbourneDf["Latitude"],suburbMelbourneDf["Longitude"]):
    distance = haversine(eachLatitude,eachLongitude,melb_cc_latitude,melb_cc_longitude)
    suburbMelbourneDf.iloc[index, suburbMelbourneDf.columns.get_loc('DistCityCenter')]=distance
    index+=1
suburbMelbourneDf.head()

In [ ]:
# We can use Haversine Formula to calculate the distance using latidues and longitudes
from math import radians, cos, sin, asin, sqrt
def haversine(lat1, lon1, lat2, lon2):
    R = 6372.8 # this is in miles.  For Earth radius in kilometers use 6372.8 km
    
    dLat = radians(lat2 - lat1)
    dLon = radians(lon2 - lon1)
    lat1 = radians(lat1)
    lat2 = radians(lat2)

    a = sin(dLat/2)**2 + cos(lat1)*cos(lat2)*sin(dLon/2)**2
    c = 2*asin(sqrt(a))

    return (R * c)

print(haversine(-37.753107,145.038478,-37.8275581 ,144.979857223109))

In [7]:
search_query = 'Resturant'
radius = 500
print(search_query + ' .... OK!')

Resturant .... OK!

In [3]:
CLIENT_ID = 'QUC1AD5AAIO4Y5Q54CBZQWVBQKLNLG1N5GLKMOH2SV4VKMPC' # your Foursquare ID
CLIENT_SECRET = 'AJWL0IN0XSFF440CYNK2CCQF1ZKLDDA15OUAHZ5VVOKB4XPD' # your Foursquare Secret
VERSION = '20190815'
LIMIT = 30

In [4]:
Latitude =-37.75
Longitude = 145.04

search_query = 'Park'
radius = 50000
print(search_query + ' .... OK!')

Park .... OK!

In [6]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, Latitude, Longitude, VERSION, search_query, radius, LIMIT)

results = requests.get(url).json()

In [7]:
a = len(results["response"]['venues'])

for i in range(0,10):
    print(results["response"]['venues'][i]['name'])

Olympic Park
Princes Park
Park Hyatt Melbourne
Bundoora Park
Fawkner Park
Pullman Melbourne on the Park
Car Park 2A (CP2A)
Staff Car Park
Ford Park
Batman Park

In [1]:
search_query = 'School'
radius = 50000
print(search_query + ' .... OK!')

School .... OK!

In [2]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, Latitude, Longitude, VERSION, search_query, radius, LIMIT)

results = requests.get(url).json()

NameError: name 'CLIENT_ID' is not defined

In [42]:
a = len(results["response"]['venues'])

for i in range(0,10):
    print(results["response"]['venues'][i]['name'])

Ivanhoe Girls Grammar School
Niche Dance Studios (formerly East Ivanhoe School of Dance)
School Library - St. Pius X Primary School, Heidelberg West Vic.
Carey Baptist Grammar School
Trinity Grammar School Sporting Complex
Melbourne Graduate School Of Education
St Pius X Primary School
Northcote High School
Kew Traffic School
Olympic Village Primary School

In [13]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, Latitude, Longitude, VERSION, radius, LIMIT)

results = requests.get(url).json()

In [16]:
print(len(results['response']['venues']))

30