<H1> Data Preparation </H1>

<h2>Crime Rates</h2>

We want to find a city with less crime rate. So, we need the crime rate statistics for suburbs of Melbourne city.

We can obtain crime rate statistics for Melbourne up to 2016 from the following link:

http://www.jonvy.co.nz/index.php?route=product/product&path=69_110&product_id=6131&sort=p.price&order=ASC

I have downloaded the excel file and kept the relevant data for my work i.e., offense in each suburb for the last 5 years (2011-2016). Now, we can get the stats from the file as follows

In [137]:
#Stats data will like that
import pandas as pd
MelbourneCrimeStatsDf= pd.read_excel("Data\CrimeStatsMelbourne.xlsx")
MelbourneCrimeStatsDf.head()

,Postcode,Apr 2011 - Mar 2012,Apr 2012 - Mar 2013,Apr 2013 - Mar 2014,Apr 2014 - Mar 2015,Apr 2015 - Mar 2016
0,3000,21467,24164,22369,22666,22337
1,3002,1022,756,1029,719,852
2,3003,436,659,557,487,610
3,3006,2070,2100,2262,2437,3114
4,3008,850,942,931,1575,1450

Now, we will compute the mean crime of suburbs. This will help us to start with crime free suburbs.

In [139]:
# Taking mean to find the safe suburbs
# Table will look like this
MelbourneCrimeStatsDf.columns=['PostalCode',"2012","2013","2014","2015","2016"]
MelbourneCrimeStatsDf['MeanCrimes'] = MelbourneCrimeStatsDf.iloc[:,1:6].mean(axis=1)
MelbourneCrimeStatsDf.sort_values(by='MeanCrimes', ascending=True, inplace=True)
MelbourneCrimeStatsDf.reset_index(drop= True, inplace= True)
MelbourneCrimeStatsDf.head()

   PostalCode  2012  2013  2014  2015  2016  MeanCrimes
0        3852     0     0     0     1     0         0.2
1        3708     0     1     0     1     1         0.6
2        3576     1     0     0     1     1         0.6
3        3647     0     0     2     2     0         0.8
4        3724     1     0     0     0     4         1.0

<H1> Scrapping Melbourne Suburb Table from Wikipedia </h2>

We want to know the suburb names of Melbourne. So, I scrapped the following Wiki Page to to extract all suburbs information.

"https://en.wikipedia.org/wiki/List_of_Melbourne_suburbs

The web page looks like this

<img src="Wiki.png" alt="Suburbs">

I have used <b> requests and Beautifulsoup4</b> library for webpage scrapping to extract suburb names

In [140]:
# Extracting information from html web page (table)
import requests
from bs4 import BeautifulSoup

webPageLink= "https://en.wikipedia.org/wiki/List_of_Melbourne_suburbs"
responseObject = requests.get(webPageLink).text
soup = BeautifulSoup(responseObject, 'lxml')
suburbTable =soup.find('table',{'class':'wikitable sortable'})

I then created a data frame to store the suburb names and the corresponding postal codes. The dataframe will look like this


<img src="Df.png" alt="DataFrame">

<h3> Geolocator to extract longitudes and latitudes for all suburbs </H3>

I used the Geolocator API to extract the latitude and longitudes for all suburbs. I also extracted the distance in KM (using Haversine Formula) of a suburb from the city center. All this information is stored in a data frame. The data frame looks like


<img src="Df1.png" alt="DataFrame">

<h3> Foursquare API</H3>

We will use Foursquare API to extract the venue information. We can get all parks information with in 3 KM radius. Sample output is shown


<img src="Data\Parks.png" alt="DataFrame">

Similarily, we can get the near by schools information as follow


<img src="Data\Schools.png" alt="DataFrame">

<H2> Now, we have all the data ready to be used for analysis </H2>